<div class="container-fluid d-flex justify-content-center">
    <div class="mt-2">
        <h2 class="animate__animated animate__bounceInLeft" style="font-size:6vmin">Welcome To The Watch</h2>
        <form class="animate__animated animate__bounceIn border p-3">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" placeholder="email" class="form-control form-control">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input id="password1" name="password1" placeholder="enter your password" class="form-control form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm password</label>
                <input id="password2" name="password2" placeholder="Must match" class="form-control form-control">
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-primary">Log in</button>
            </div>
            <hr>
            <div class="mb-3">
                <p>Don't have an account, <a href="#">register here</a></p>
            </div>
        </form>
    </div>
</div>